In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('../data/02_limpia/df_cleaned.csv')

In [5]:
df.head()

,departamento,provincia,distrito,ano,semana,sub_reg_nt,ubigeo,ira_no_neumonia,neumonias_men5,neumonias_60mas,hospitalizados_men5,hospitalizados_60mas,defunciones_men5,defunciones_60mas
0,LIMA,LIMA,LIMA,2000,1,50,150101,681,6,0,1,0,0,0
1,LIMA,LIMA,LIMA,2000,1,52,150101,1,0,0,0,0,0,0
2,LIMA,LIMA,LIMA,2000,2,50,150101,659,4,0,0,0,0,0
3,LIMA,LIMA,LIMA,2000,2,52,150101,1,0,0,0,0,0,0
4,LIMA,LIMA,LIMA,2000,3,50,150101,615,1,0,4,0,0,0

In [6]:
# dentro de la ruta ../data/sub_reg_nt_csvs quiero que gurdars dfs de cada sub_reg_nt único por ejemplo si hay sub_reg_nt 50 quiero un csv llamado sub_reg_nt_50.csv y así con todos los sub_reg_nt únicos en el df
# Crear CSVs individuales por cada sub_reg_nt
# Por cada valor único en 'sub_reg_nt', se guarda un archivo CSV independiente
# dentro de la ruta '../data/sub_reg_nt_csvs', con el formato 'sub_reg_nt_<valor>.csv'

import os

# Crear la carpeta si no existe
output_dir = "../data/sub_reg_nt_csvs"
os.makedirs(output_dir, exist_ok=True)

# Iterar sobre cada sub_reg_nt único y guardar su respectivo CSV
for sub_reg in df['sub_reg_nt'].unique():
    df_sub = df[df['sub_reg_nt'] == sub_reg]
    output_path = os.path.join(output_dir, f"sub_reg_nt_{sub_reg}.csv")
    df_sub.to_csv(output_path, index=False)

print(f"Se guardaron {len(df['sub_reg_nt'].unique())} archivos CSV en '{output_dir}'")

Se guardaron 7 archivos CSV en '../data/sub_reg_nt_csvs'